<section id="acerca" class="about section container full-lg-screen">
  <article class="text-lg-right">
    <aside class="text-center text-lg-right">
      <h1>Mauricio Di Paolo</h1>
      <h5>programador y diseñador <i>web</i></h5>
    </aside>
    <p>
      Allá por el año 2002 he comenzado a incursionar en el área del desarrollo <i>web</i>. Con mucha iniciativa y
      voluntad autodidacta aprovechándome de las bondades de Internet.
    </p>
    <p>
      He trabajado en una tienda de informática creando contenidos orientado al <i>Frontend</i>, pero también hago las
      veces de <i>Backend</i>.
    </p>
    <p>
      Me gusta la maquetación y la interactividad que ofrecen las interfaces
      <i>web</i>, creando código limpio para la optimización, un buen posicionamiento y el rendimiento de los sitios y
      aplicaciones <i>web</i>.
    </p>
    <p>
      También cuento con experiencia en el área de <i>Social Media</i>, <i>Marketing</i> de Contenidos y <i>SEO</i>.
    </p>
    <div class="text-center text-lg-left">
      <a
        class="btn"
        href="https://mfdp10.github.io/portafolio-cv-astro/assets/mauricio-di-paolo-cv.pdf"
        target="_blank"
        rel="noopener">DESCARGA MI CV</a
      >
    </div>
  </article>
  <article>
    <img class="gray-scale" src="assets/mauricio-di-paolo.jpg" alt="Mauricio Di Paolo" />
  </article>
  <article>
    <h2 class="text-center text-lg-left">Mis Habilidades</h2>
    <div class="progress">
      <p>
        <b>Desarrollo <i>Web Frontend</i></b>
        <b>80%</b>
      </p>
      <progress value="80" min="0" max="100"></progress>
    </div>
    <div class="progress">
      <p>
        <b>Diseño <i>Web</i></b>
        <b>80%</b>
      </p>
      <progress value="80" min="0" max="100"></progress>
    </div>
    <div class="progress">
      <p>
        <b><i>WPO</i> y <i>SEO</i></b>
        <b>75%</b>
      </p>
      <progress value="75" min="0" max="100"></progress>
    </div>
    <div class="progress">
      <p>
        <b>Desarrollo <i>Web Backend</i></b>
        <b>70%</b>
      </p>
      <progress value="70" min="0" max="100"></progress>
    </div>
    <div class="progress">
      <p>
        <b><i>Social Media</i> y <i>Marketing</i> de Contenidos</b>
        <b>60%</b>
      </p>
      <progress value="60" min="0" max="100"></progress>
    </div>
  </article>
</section>
