<section id="trabajos" class="portfolio section">
  <div class="container">
    <h2 class="section-title">Mis Trabajos</h2>
    <a href="#trabajo-1" class="portfolio-card">
      <img src="assets/portfolio-1.jpg" alt="Trabajo 1" />
      <aside class="portfolio-card-info">
        <div>
          <h3>Inmobiliaria Zafira</h3>
          <p>
            Inmobiliaria Zafira es una empresa del sector inmobiliario en San Fulgencio, provincia de Alicante. Pone a
            tu disposición servicios de compra, venta y alquiler de inmuebles. Te atenderán en Parque Parque Nervión,
            141 SAN FULGENCIO, ALICANTE
          </p>
        </div>
      </aside>
    </a>
    <a href="#trabajo-2" class="portfolio-card">
      <img src="assets/portfolio-2.jpg" alt="Trabajo 2" />
      <aside class="portfolio-card-info">
        <div>
          <h3>Perfect Properties Spain</h3>
          <p>
            Agentes inmobiliarios ubicados en la Costa Blanca y la Costa Cálida, Perfect Property cubre toda la Costa
            Blanca, tanto el norte como el sur y el Mar Menor. Disponen de todo tipo de inmuebles desde villas nuevas y
            de reventa, adosados ​​y apartamentos, solares y proyectos urbanísticos.
          </p>
        </div>
      </aside>
    </a>
    <a href="#trabajo-3" class="portfolio-card">
      <img src="assets/portfolio-3.jpg" alt="Trabajo 3" />
      <aside class="portfolio-card-info">
        <div>
          <h3>Restaurante La Caballería</h3>
          <p>
            La Caballería nace en Mayo del 1999 con la idea de fomentar la cultura y gusto de la cocina tradicional
            argentina en su expresión más sencilla: la carne.
          </p>
        </div>
      </aside>
    </a>
    <a href="#trabajo-4" class="portfolio-card">
      <img src="assets/portfolio-4.jpg" alt="Trabajo 4" />
      <aside class="portfolio-card-info">
        <div>
          <h3>AlojaT</h3>
          <p>Sitio diseñado para la gestión de dominios en internet y el alojamiento especializado. Gestión de DNS.</p>
        </div>
      </aside>
    </a>
    <a href="#trabajo-5" class="portfolio-card">
      <img src="assets/portfolio-5.jpg" alt="Trabajo 5" />
      <aside class="portfolio-card-info">
        <div>
          <h3>Electrónica y Antenas Negri, SL</h3>
          <p>
            Empresa Instaladora SAT-TDT e I.C.T. 546. Empresa creada en Junio de 1.994 por parte de Juan Carlos
            Puigcerver García y su señora Teresa Aldeguer Hernández debido a su afán emprendedor y de haber estado
            asociado a otras empresas si tener reconocimiento en sus trabajos de su leal saber y entender.
          </p>
        </div>
      </aside>
    </a>
    <a href="#trabajo-6" class="portfolio-card">
      <img src="assets/portfolio-6.jpg" alt="Trabajo 6" />
      <aside class="portfolio-card-info">
        <div>
          <h3>Tasks</h3>
          <p>
            Proyecto propio para la gestión de avisos de servicios. Gestión de artículos, categorías, comunidades de
            propietarios, usuarios, clientes, partes de trabajo.
          </p>
        </div>
      </aside>
    </a>
  </div>
</section>
<article class="modal" id="trabajo-1">
  <div class="modal-content">
    <a href="#cerrar" class="modal-close">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path
          d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z M16.207,14.793l-1.414,1.414L12,13.414 l-2.793,2.793l-1.414-1.414L10.586,12L7.793,9.207l1.414-1.414L12,10.586l2.793-2.793l1.414,1.414L13.414,12L16.207,14.793z"
        ></path>
      </svg>
    </a>
    <article class="portfolio-modal">
      <img src="assets/portfolio-1.jpg" alt="Trabajo 1" />
      <div class="portfolio-info">
        <h3>Inmobiliaria Zafira</h3>
        <p>
          Inmobiliaria Zafira es una empresa del sector inmobiliario en San Fulgencio, provincia de Alicante. Pone a tu
          disposición servicios de compra, venta y alquiler de inmuebles. Te atenderán en Parque Parque Nervión, 141 SAN
          FULGENCIO, ALICANTE
        </p>
        <aside class="portfolio-details">
          <small><b>CLIENTE:</b></small>
          <small>Inmobiliaria Zafira</small>
          <small><b>FECHA:</b></small>
          <small>24/12/2008</small>
          <small><b>TIPO:</b></small>
          <small>Web dinámica</small>
          <small><b>ENLACE:</b></small>
          <small
            ><a href="https://www.zafiraspain.com/" target="_blank" rel="noopener">https://www.zafiraspain.com/</a
            ></small
          >
        </aside>
      </div>
    </article>
  </div>
</article>
<article class="modal" id="trabajo-2">
  <div class="modal-content">
    <a href="#cerrar" class="modal-close">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path
          d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z M16.207,14.793l-1.414,1.414L12,13.414 l-2.793,2.793l-1.414-1.414L10.586,12L7.793,9.207l1.414-1.414L12,10.586l2.793-2.793l1.414,1.414L13.414,12L16.207,14.793z"
        ></path>
      </svg>
    </a>
    <article class="portfolio-modal">
      <img src="assets/portfolio-2.jpg" alt="Trabajo 2" />
      <div class="portfolio-info">
        <h3>Perfect Properties Spain</h3>
        <p>
          Agentes inmobiliarios ubicados en la Costa Blanca y la Costa Cálida, Perfect Property cubre toda la Costa
          Blanca, tanto el norte como el sur y el Mar Menor. Disponen de todo tipo de inmuebles desde villas nuevas y de
          reventa, adosados ​​y apartamentos, solares y proyectos urbanísticos.
        </p>
        <aside class="portfolio-details">
          <small><b>CLIENTE:</b></small>
          <small>Perfect Properties Spain</small>
          <small><b>FECHA:</b></small>
          <small>24/12/2009</small>
          <small><b>TIPO:</b></small>
          <small>Web dinámica con buscador</small>
          <small><b>ENLACE:</b></small>
          <small
            ><a href="https://www.perfectpropertyspain.com" target="_blank" rel="noopener"
              >www.perfectpropertyspain.com</a
            ></small
          >
        </aside>
      </div>
    </article>
  </div>
</article>
<article class="modal" id="trabajo-3">
  <div class="modal-content">
    <a href="#cerrar" class="modal-close">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path
          d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z M16.207,14.793l-1.414,1.414L12,13.414 l-2.793,2.793l-1.414-1.414L10.586,12L7.793,9.207l1.414-1.414L12,10.586l2.793-2.793l1.414,1.414L13.414,12L16.207,14.793z"
        ></path>
      </svg>
    </a>
    <article class="portfolio-modal">
      <img src="assets/portfolio-3.jpg" alt="Trabajo 3" />
      <div class="portfolio-info">
        <h3>Restaurante La Caballería</h3>
        <p>
          La Caballería nace en Mayo del 1999 con la idea de fomentar la cultura y gusto de la cocina tradicional
          argentina en su expresión más sencilla: la carne.
        </p>
        <aside class="portfolio-details">
          <small><b>CLIENTE:</b></small>
          <small>La Caballería</small>
          <small><b>FECHA:</b></small>
          <small>05/08/2010</small>
          <small><b>TIPO:</b></small>
          <small>Web dinámica en ASP</small>
          <small><b>ENLACE:</b></small>
          <small
            ><a href="https://www.lacaballeriaguardamar.com" target="_blank" rel="noopener"
              >www.lacaballeriaguardamar.com</a
            ></small
          >
        </aside>
      </div>
    </article>
  </div>
</article>
<article class="modal" id="trabajo-4">
  <div class="modal-content">
    <a href="#cerrar" class="modal-close">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path
          d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z M16.207,14.793l-1.414,1.414L12,13.414 l-2.793,2.793l-1.414-1.414L10.586,12L7.793,9.207l1.414-1.414L12,10.586l2.793-2.793l1.414,1.414L13.414,12L16.207,14.793z"
        ></path>
      </svg>
    </a>
    <article class="portfolio-modal">
      <img src="assets/portfolio-4.jpg" alt="Trabajo 4" />
      <div class="portfolio-info">
        <h3>AlojaT</h3>
        <p>Sitio diseñado para la gestión de dominios en internet y el alojamiento especializado. Gestión de DNS.</p>
        <aside class="portfolio-details">
          <small><b>CLIENTE:</b></small>
          <small>Proyecto propio</small>
          <small><b>FECHA:</b></small>
          <small>10/02/2011</small>
          <small><b>TIPO:</b></small>
          <small>Web dinámica</small>
          <small><b>ENLACE:</b></small>
          <small><a href="https://alojat.com" target="_blank" rel="noopener">https://alojat.com</a></small>
        </aside>
      </div>
    </article>
  </div>
</article>
<article class="modal" id="trabajo-5">
  <div class="modal-content">
    <a href="#cerrar" class="modal-close">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path
          d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z M16.207,14.793l-1.414,1.414L12,13.414 l-2.793,2.793l-1.414-1.414L10.586,12L7.793,9.207l1.414-1.414L12,10.586l2.793-2.793l1.414,1.414L13.414,12L16.207,14.793z"
        ></path>
      </svg>
    </a>
    <article class="portfolio-modal">
      <img src="assets/portfolio-5.jpg" alt="Trabajo 5" />
      <div class="portfolio-info">
        <h3>Electrónica y Antenas Negri, SL</h3>
        <p>
          Empresa Instaladora SAT-TDT e I.C.T. 546. Empresa creada en Junio de 1.994 por parte de Juan Carlos Puigcerver
          García y su señora Teresa Aldeguer Hernández debido a su afán emprendedor y de haber estado asociado a otras
          empresas si tener reconocimiento en sus trabajos de su leal saber y entender.
        </p>
        <aside class="portfolio-details">
          <small><b>CLIENTE:</b></small>
          <small>Electrónica y Antenas Negri, SL</small>
          <small><b>FECHA:</b></small>
          <small>21/03/2012</small>
          <small><b>TIPO:</b></small>
          <small>Web dinámica + Blog</small>
          <small><b>ENLACE:</b></small>
          <small><a href="https://www.negrisl.es" target="_blank" rel="noopener">https://www.negrisl.es</a></small>
        </aside>
      </div>
    </article>
  </div>
</article>
<article class="modal" id="trabajo-6">
  <div class="modal-content">
    <a href="#cerrar" class="modal-close">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path
          d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z M16.207,14.793l-1.414,1.414L12,13.414 l-2.793,2.793l-1.414-1.414L10.586,12L7.793,9.207l1.414-1.414L12,10.586l2.793-2.793l1.414,1.414L13.414,12L16.207,14.793z"
        ></path>
      </svg>
    </a>
    <article class="portfolio-modal">
      <img src="assets/portfolio-6.jpg" alt="Trabajo 6" />
      <div class="portfolio-info">
        <h3>Tasks</h3>
        <p>
          Proyecto propio para la gestión de avisos de servicios. Gestión de artículos, categorías, comunidades de
          propietarios, usuarios, clientes, partes de trabajo.
        </p>
        <aside class="portfolio-details">
          <small><b>CLIENTE:</b></small>
          <small>Proyecto propio</small>
          <small><b>FECHA:</b></small>
          <small>15/11/2015</small>
          <small><b>TIPO:</b></small>
          <small>ASP.NET + MSSQL</small>
          <small><b>ENLACE:</b></small>
          <small><a href="https://tasksmanager.es" target="_blank" rel="noopener">https://tasksmanager.es</a></small>
        </aside>
      </div>
    </article>
  </div>
</article>
